body{
    background-color: #a09d9d;
    font-family: "roboto", sans-serif;
    margin: 5px;
    padding: 5px;
    line-height: 1.6;
}   

header {
    background-color: rgb(123, 176, 211);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
    font-size: 22px;
    border-radius: 2%;
    position: relative;
}


nav{
    background: #f3eaea;
    padding: 0.1px ;
}
nav ul{
    text-align: center;
    padding: 0px;    
}
nav ul li{
    display: inline;
    margin: 100px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(123, 176, 211);
    padding: 20px;
    margin: 5px;
    height: auto;
    
}


section.informacion{
    align-items: center;
    text-align: left;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    padding: 1.5%;
    margin: 1.5%;
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    
}


section.turismo {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column; /* Adjust layout for smaller screens */
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    padding: 1.5%;
    margin: 1.5%;
    width: 100%; /* Make it responsive */
    max-width: 1350px; /* Limit the maximum width */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}


footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.aside_contacto {
    float: left;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px 40px; 
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}
.asideinput {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 30px;
    margin: 50px 40px;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}
textarea{
    width: 100%;
    max-width: 680px;
    height: 100px;
    resize: none;

}

input {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.box {
    font-size: 17px;
    padding: 14px;
    width: 100%;
}

.img{
    margin: 30px;
    padding: 10px;
    width: 40%;
    max-width: 1000px;
    height: auto;
}

.img-cartel{
    background-color: #f3eaea;
    border-radius: 8%;
    padding: 10px;
    max-width: 100%;
}

.img-turismo{
    background-color: #f3eaea;
    border-radius: 8%;
    padding: 10px;
    width: 800px;
    height: 450px;
    margin: 15px;
}

.img-museo{
    margin: 15px;
    padding: 10px;
    background-color: #f3eaea;
    border-radius: 8%;
    width: 30%;
    
}

section.museos{
    align-items: center;
    text-align: left;
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 17, 17);
    padding: 1.5%;
    margin: 1.5%;
    width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    font-size: 17px;
    height: auto;
}


.escudo {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: #f3eaea;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}